body {
  text-align: center;
}
.nav{
  background-color: black;
}
.bottom-container {
  font-size: 20px;
  text-align: center;
  padding: auto ;
  background-color: #1b1d28;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}